@media (min-width: 992px) {
    #intro {
        margin-top: -58.59px;
        height: 40vh !important;
    }
}

.intro_content {
    background-image: linear-gradient(20deg, rgba(1, 200, 235, 0.6), rgba(2, 25, 84, 0.6)), url("../../assets/images/bg1.jpg");
    background-size: cover;
}